<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Signup</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <!--icon for house -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>

<main class="container">
<div th:replace="fragments/header :: nav"></div>
<!--    <div th:replace="fragments/header :: p"></div>-->

    <h1 class="text-center">Signup with RoomEase</h1>


    <p> Already have an account? <a href="/login">Login</a></p>
    <form action="/signup" method="post">
        <fieldset>
            <legend>User Information</legend>

            <label>First Name:</label>
            <input type="text" name="firstName"/>

            <label>Last Name:</label>
            <input type="text" name="lastName"/>

            <!--      <label>Gender:</label>-->
            <!--      <div style="margin-bottom: 10px;">-->
            <!--        <input type="radio" name="gender" value="male">Male-->
            <!--        <input type="radio" name="gender" value="female">Female-->
            <!--        <input type="radio" name="gender" value="other">Other-->
            <!--      </div>-->

            <label>Username:</label>
            <input type="text" name="username"/>

            <label>Password:</label>
            <input type="password" name="password"/>

            <label>Email:</label>
            <input type="email" name="email"/>

            <label>Household ID:</label>
            <input type="text" name="householdId"
                   placeholder="Enter the unique household ID associated with your household"/>

            <label>Residence:</label>
            <select name="residenceId">
                <option value="">Select a Residence</option>

                <th:block th:each="residence : ${residences}">
<!--                    <option th:value="${residence.residence_id}" th:text="${residence.name}"></option>-->
                    <option th:value="${residence.name}" th:text="${residence.name}"></option>

                    <!--                    <option th:value="${residence}" th:text="${residence}"></option>-->
                </th:block>
            </select>

            <label>Role:</label>
            <select name="role">
                <option value="admin">Admin</option>
                <option value="roommate">Roommate</option>
                <!--        <option value="guest">Guest</option>-->
            </select>

            <label>Telephone:</label>
            <input type="tel" name="telephone" placeholder="Don't include dashes"/>

            <input type="submit" value="Sign up"/>
        </fieldset>
    </form>
</main>
</body>
</html>
