<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Households</title>

  <style>
        .profile-pic {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-left: 20px;
        }

    .button-style {
        width: 200px;
}
    </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"/>
</head>
<body>
<main class="container">
  <div th:replace="fragments/header :: nav"></div>

  <h1>List of Households</h1>

  <form th:action="@{/residences}" method="post">
    <div>
      <label for="name">Number:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <button type="submit" class="button-style">Create a Household</button>
    </div>
  </form>

  <ul>
    <li th:each="residence : ${residences}">
      <span th:text="${residence.name}"></span>

      <form id="delete-residence-form-${residence.residenceId}" th:action="${'/residences/delete/' + residence.residenceId}" th:method="delete">
        <button type="submit" class="button-style">Delete</button>

      </form>

    </li>
  </ul>

</main>

</body>
</html>

